*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:Poppins,sans-serif;
}

/* NAVBAR */

.navbar{
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(8px);
    transition:.4s;
}

.logo{
    font-size:45px;
    font-weight:700;
    color:white;
}

.nav-link{
    color:white !important;
    margin-left:18px;
    font-weight:600;
}

.nav-link:hover,
.nav-link.active{
    color:#d9a441 !important;
}

/* HERO */

.hero-image{
    height:100vh;
    object-fit:cover;
}

.carousel-item{
    position:relative;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.55);
}

.carousel-caption{
    bottom:22%;
    z-index:2;
}

.carousel-caption h3{

    color:#d9a441;
    font-size:42px;
    font-weight:700;
}

.carousel-caption h1{

    font-size:120px;
    font-weight:800;
}

.carousel-caption h2{

    font-size:45px;
    font-weight:600;
}

.btn-warning{

    background:#d9a441;
    border:none;
    color:white;
}

.btn-warning:hover{

    background:#b47f28;
}

section{

    padding:100px 0;
}
