*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:Poppins,sans-serif;
}

/* NAVBAR */

.navbar{
    background:#6F4E37;
   
    transition:.4s;
}

.logo{
    font-size:45px;
    font-weight:700;
    color:white;
}

.nav-link{
    color:white !important;
    margin-left:18px;
    font-weight:600;
}


.nav-link:hover,
.nav-link.active{
    color:#d9a441 !important;
}

/* HERO */

.hero-image{
    height:100vh;
    object-fit:cover;
}

.carousel-item{
    position:relative;
    
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.55);
}

.carousel-caption{
    bottom:22%;
    z-index:2;
}

.carousel-caption h3{

    color:#d9a441;
    font-size:42px;
    font-weight:700;
}

.carousel-caption h1{

    font-size:120px;
    font-weight:800;
}

.carousel-caption h2{

    font-size:45px;
    font-weight:600;
}

.btn-warning{

    background:#d9a441;
    border:none;
    color:white;
}

.btn-warning:hover{

    background:#b47f28;
}

section{
   margin-bottom: 100px;
    /* padding:100px 0; */
}
.about{

    background:#F8F5F0;
    padding:100px 0;
}

.container{

    width:90%;
    margin:auto;
}

.section-title{

    text-align:center;
    margin-bottom:70px;
}

.section-title span{

    color:#c58b2d;
    letter-spacing:6px;
    font-size:20px;
    text-transform:uppercase;
}

.section-title h2{

    margin-top:15px;
    font-size:55px;
    color:#3d2416;
    font-weight:700;
}

.about-content{

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
}

.about-box{

    flex:1;
    min-width:280px;
}

.about-box h3{

    font-size:42px;
    color:#3d2416;
    margin-bottom:20px;
}

.about-box h4{

    font-size:23px;
    line-height:38px;
    margin-bottom:20px;
}

.about-box p{

    color:#666;
    line-height:32px;
    font-size:18px;
}

.about-box ul{

    list-style:none;
    margin-top:20px;
}

.about-box ul li{

    font-size:19px;
    margin-bottom:15px;
}

.about-image{

    flex:1;
    text-align:center;
}

.about-image img{

    width:320px;
    animation:float 3s ease-in-out infinite;
}

.btn-about{

    display:inline-block;
    margin-top:25px;
    background:#C58B2D;
    color:white;
    padding:14px 35px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    transition:.4s;
}

.btn-about:hover{

    background:#9a6d20;
}

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-12px);
    }

    100%{
        transform:translateY(0);
    }

}
/*================ FOOTER ================*/

.footer{

    position:relative;

    background:url("images/footer-bg.jpg") center/cover no-repeat;

    color:#fff;

    padding-top:80px;

}

.footer-overlay{

    /* position:absolute;
    inset:0; */
   padding: 40px;
    background-color:rgba(40,20,10,.88);

}

.footer-container{

    /* position:relative; */
    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:45px;

    z-index:2;

}

.footer-box h2{

    color:#D4A04E;

    font-size:40px;

    margin-bottom:20px;

}

.footer-box h3{

    color:#D4A04E;

    margin-bottom:20px;

    font-size:28px;

}

.footer-box p{

    line-height:1.8;

    color:#ddd;

    margin-bottom:12px;

}

.footer-box strong{

    color:white;

}

.footer-box i{

    color:#D4A04E;

    margin-right:10px;

}

/* Social Icons */

.social-icons{

    margin-top:25px;

}

.social-icons a{

    width:45px;
    height:45px;

    display:inline-flex;

    justify-content:center;
    align-items:center;

    border:2px solid #D4A04E;

    color:#D4A04E;

    border-radius:50%;

    margin-right:10px;

    transition:.4s;

    text-decoration:none;

}

.social-icons a:hover{

    background:#D4A04E;

    color:white;

    transform:translateY(-6px);

}

/* Newsletter */

.footer-box input{

    width:100%;

    padding:15px;

    border:none;

    outline:none;

    margin-bottom:15px;

    border-radius:5px;

}

.footer-box button{

    width:100%;

    padding:15px;

    border:none;

    background:#D4A04E;

    color:white;

    font-size:17px;

    cursor:pointer;

    border-radius:5px;

    transition:.4s;

}

.footer-box button:hover{

    background:#b8832f;

}

/* Bottom */

.footer hr{

    position:relative;

    margin:60px 0 25px;

    border:1px solid rgba(255,255,255,.15);

}

.footer-bottom{

    position:relative;

    z-index:2;

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

    padding-bottom:25px;

}

.footer-bottom span{

    color:#D4A04E;

    font-weight:bold;

}

/* Responsive */

@media(max-width:768px){

.footer-bottom{

    flex-direction:column;

    text-align:center;

    gap:10px;

}

}
/*================ CARD SECTION ================*/

.coffee-cards{
    background:#F8F4EE;
}

.coffee-card{

    border:none;
    border-radius:20px;
    overflow:hidden;

    transition:.4s;

    box-shadow:0 10px 25px rgba(0,0,0,.12);

}

.coffee-card:hover{

    transform:translateY(-12px);

    box-shadow:0 18px 35px rgba(0,0,0,.22);

}

.coffee-card img{

    height:260px;

    object-fit:cover;

    transition:.5s;

}

.coffee-card:hover img{

    transform:scale(1.08);

}

.card-body{

    padding:30px;

}

.card-title{

    color:#3E2723;

    font-weight:700;

}

.card-text{

    color:#666;

    margin:18px 0;

}

.price{

    color:#C68A2F;

    font-size:30px;

    margin-bottom:20px;

    font-weight:bold;

}

.btn-coffee{

    background:#8B4513;

    color:white;

    padding:12px 30px;

    border-radius:30px;

    transition:.3s;

}

.btn-coffee:hover{

    background:#5D2F0A;

    color:white;

}

.section-title{

    color:#3E2723;

}
li{
    color: #3d2416;
}
