li{
    float: left;
   margin-right: 20px;
   display: flex;
 
   
}
h2{
   
   
    font-size:xx-large;
    text-align: end;
    font-weight: bolder;
}
body {
    background-color: #121212;
    color:#38BDF8 ;
}
a:link{
    color: #10B981;
}
a:visited{
    color: #10B981;
}
button:hover{
    color:rgb(0, 24, 51);
    background-color: greenyellow;
   
}
.col-1{
    width: 50%;
}
#skills{
    padding: 60px;
}


#skills h1{
    text-align: center;
    color: #38BDF8;
    margin-bottom: 40px;
}


.skills-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}


.skill-card{
    width: 250px;
    background: #1E293B;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}


.skill-card:hover{
    transform: translateY(-8px);
}


.skill-card h3{
    color: #38BDF8;
    margin-bottom: 15px;
}


.bar{
    width: 100%;
    height: 12px;
    background: #334155;
    border-radius: 20px;
    overflow: hidden;
}


.progress{
    height: 100%;
    background: #38BDF8;
    border-radius: 20px;
}


.html{
    width: 90%;
    color: yellow;
}


.css{
    width: 85%;
    color: yellow;
}


.python{
    width: 75%;
    color: yellow;
}


.c{
    width: 70%;
    color: yellow;
}


.skill-card p{
    color: #38BDF8;
    margin-top: 10px;
    font-weight: bold;
   
}
#intro{
    height:100vh;
    background:#0e0d0d;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}


#intro h3{
    color: #e1fa01;
    letter-spacing:5px;
    margin-bottom:20px;
}


#intro h1{
    color: #e1fa01;
    font-size:70px;
    margin-bottom:20px;
}


#intro h2{
    color:#e1fa01;
    margin-bottom:40px;
}


.enter-btn{
    text-decoration:none;
    color:rgb(250, 183, 1);
    background:#c238f8;
    padding:15px 35px;
    border-radius:30px;
    transition:0.3s;
}


.enter-btn{
    background:#faa302;
    color: rgb(250, 246, 6);
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
}


.enter-btn:hover{
    background: #0c0000;
    transform: scale(1.05);
}
h1{
    color: #e1fa01;
}
.photo{
    float: right;
}
button:hover{
    color: #111111;
}
h2{
    color:#faa302
}
footer{
    background:#08111f;
    padding:40px;
    text-align:center;
}


footer h2{
    color:#38BDF8;
    margin-bottom:10px;
}


footer p{
    color:#CBD5E1;
}


footer hr{
    margin:20px auto;
    width:50%;
    border:1px solid #334155;
}
.top-btn{
    position:fixed;
    bottom:30px;
    right:30px;
    width:50px;
    height:50px;
    background:#06151b;
    color:rgb(17, 16, 16);
    text-decoration:none;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
    transition:.3s;
}


.top-btn:hover{
    background:#05e951;
    color:#090c0e;
    transform:scale(1.1);
}
body{
   
    margin: 10%;
}
.SKILL-CONTAINER{
    display: flex;
    flex-shrink: inherit;
    width:33%;
}
.links{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    float: left;
}